<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Flickr public feed viewer</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLink="/list" routerLinkActive="active">
        <a class="nav-link" routerLink="/list" routerLinkActive="active">List</a>
      </li>
      <li class="nav-item" routerLink="/gallery" routerLinkActive="active">
        <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Gallery</a>
      </li>
    </ul>
    <div class="form-inline mt-2 mt-md-0">
      <input #tagsInput class="form-control mr-sm-2" type="text" placeholder="Tags" (keyup)="refresh(tagsInput.value, false)">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="refresh(tagsInput.value, true)" >Search</button>
    </div>
  </div>
</nav>
