<h2>Gallery</h2>
<table class="table" style="height: 100%; overflow-y: scroll">
  <tbody>

  <!-- to force side-effect of observable consuming -->
  <ng-container *ngFor="let flick of flicksService.taggedFlicks | async">
  </ng-container>

  <tr *ngFor="let tmp of flicksService.rows; let r = index; ">
    <td *ngFor="let tmp2 of flicksService.cols; let c = index; " (click)="onFlickClicked(r*flicksService.cols.length + c)">
      <img *ngIf="flicksService.flicks.length>r*flicksService.cols.length + c" src="{{flicksService.flicks[r*flicksService.cols.length + c].media.m}}" alt="{{r}} - {{c}}" />
    </td>
  </tr>
  </tbody>
</table>


