<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/list" routerLinkActive="active">List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/gallery" routerLinkActive="active">Gallery</a>
    </li>
  </ul>
</nav>
