<app-head-search></app-head-search>
<div class="container-fluid">
  <div class="row">
    <app-main-menu></app-main-menu>
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <!--<h1>{{title}}</h1>-->
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<app-footer></app-footer>
