<div class="row">
  <div class="col-12">
    <img *ngIf="flick" src="{{flick.media.m}}" alt="" />
  </div>
</div>
<div class="row">
  <div class="col-1">
    <button (click)="goBack()">Back</button>
  </div>
  <div class="col-1">
    <button *ngIf="flick && flicks && index>0" (click)="goPrev()">Prev</button>
  </div>
  <div class="col-1">
    <button *ngIf="flick && flicks && index<flicks.length" (click)="goNext()">Next</button>
  </div>
</div>
