<h2>List</h2>

<!-- to force side-effect of observable consuming -->
<ng-container *ngFor="let flick of flicksService.taggedFlicks | async">
</ng-container>

<table class="table table-striped table-hover" style="height: 100%; overflow-y: scroll">
  <thead>
  <tr>
    <th>Author</th>
    <th>Image name</th>
    <th>Url</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let flick of flicksService.flicks; let i = index;" (click)="onFlickClicked(i)">
    <td>{{flick.author}}</td>
    <td>{{flick.title}}</td>
    <td><a target="_blank" href="{{flick.link}}">{{flick.link}}</a></td>
  </tr>
  </tbody>
</table>
